body { user-select: none; }

.no-scroll { overflow: hidden; }

.bg-darker { background-color: #242A30 !important }
.text-darker { color: #141A20 !important }

.group-gold { background-color: #FCCF2D28 }
.group-blue { background-color: #002A5D28 }

.group-gold.selected-group { background-color: #FFCF2D5A }
.group-blue.selected-group { background-color: #002A5D80 }

.group-gold.selected-block { background-color: #FFCF2D70 }
.group-blue.selected-block { background-color: #002A5D90 }

.group-gold.selected-day { background-color: #FFDF3D90 }
.group-blue.selected-day { background-color: #003A6DB0 }

span.hour-1, span.hour-2, span.hour-3, span.hour-5, span.hour-6, span.hour-7 { padding: 0.125ch 0.5ch !important }
.group-gold .selected-hour { background-color: #FFDF3D }
.group-blue .selected-hour { background-color: #007BAE }
.selected-hour { border-radius: 0.25rem; color: #111111; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; }

.dropdown-menu.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 2.4rem) !important;
}

#group-dropdown-gold::before { content: "🟡 "; opacity: 25%; }
#group-dropdown-blue::before { content: "🔵 "; opacity: 25%; }
#group-dropdown-gold.selected::before { content: "🟨 "; opacity: 100%; }
#group-dropdown-blue.selected::before { content: "🟦 "; opacity: 100%; }

.in-virtual strong span.h5::before { content: "💻"; display: inline-block; margin-right: 0.5ch }
.in-class strong span.h5::before { content: "🏫 "; display: inline-block; margin-right: 0.5ch }
.selected-day.in-virtual strong span.h5::before { content: "👨‍💻 " !important; transform: scale(1.2) }
.selected-day.in-class strong span.h5::before { content: "🙋 " !important; transform: scale(1.2) }

.selected-group.h3, .selected-block:not(.selected-hour), .selected-day:not(.selected-hour), .text-shadow {
    text-shadow: 0 .125rem 0.25rem rgba(0.25,0.25,0.125,.3) !important
}

.animate__delay-0p25s { animation-delay: 0.25s; } .animate__delay-0p5s { animation-delay: 0.5s; } .animate__delay-0p75s { animation-delay: 0.75s; }
.animate__delay-1p25s { animation-delay: 1.25s; } .animate__delay-1p5s { animation-delay: 1.5s; } .animate__delay-1p75s { animation-delay: 1.75s; }
.animate__delay-2p25s { animation-delay: 2.25s; } .animate__delay-2p5s { animation-delay: 2.5s; } .animate__delay-2p75s { animation-delay: 2.75s; }
.animate__delay-3p25s { animation-delay: 3.25s; } .animate__delay-3p5s { animation-delay: 3.5s; } .animate__delay-3p75s { animation-delay: 3.75s; }
.animate__delay-4p25s { animation-delay: 4.25s; } .animate__delay-4p5s { animation-delay: 4.5s; } .animate__delay-4p75s { animation-delay: 4.75s; }